html,body{width: 100%;height: 100%}
body{margin:0;padding:0;font-size:14px;color:#505050; font-family:微软雅黑; font-weight:normal; }
div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, input, button,
textarea, p, table, th, td ,iframe{margin:0px;padding:0px; }
img{border:0;}
ul,li{list-style-type:none;}
:focus {outline:0;}
a {color:#fff !important;text-decoration:none;cursor: pointer;transition: all .3s}
a:hover {color:#ab0003;text-decoration:none;}
a:focus {text-decoration:none;}
::selection{
 background: #4cae4c;
 color:#fff ;
}
.left{float: left;}
.right{float: right;}

 .content{width:100%;height:480px;background: #efefef;}
 .content_main {width: 1200px;margin:0 auto;}

.weixin_content{width: 98px;height: 98px;background: #fff;border: 1px solid #e0e0e0;position: absolute;}
.gzh{right:-15px;display: none;}
.weixin_content img{width: 100%;height: 100%}

.upgrade{font-size: 16px;padding-left: 20px;background: #efefef;padding-top: 10px;padding-bottom: 10px;}
.upgrade a{color: #f39800 !important;}